.fontAwesome {
  font-family: 'Helvetica', FontAwesome, sans-serif;
}

.header {
  background: #003580;
  position: relative;
}

.head {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  padding: 0px 0 70px 0;
}

.head-title {
  margin-bottom: 20px;
}

.head-desc {
  margin: 0;
  opacity: 0.8;
}

.btn-login {
  background-color: #0071c2;
  color: #fff;
  padding: 12px 8px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}