.search-list-items {
}

.search-list-item {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  border-radius: 6px;
  border: 1px solid #d5d1d1;
  padding: 10px;
  margin-bottom: 20px
}

.search-list-item__img {
  height: 220px;
  width: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* col-2 */
.search-list-item__content {
  color: #333;
  padding: 0 20px;
  font-size: 14px;
}

.search-list-item__content h2{
  color: #0274c4;
}

.search-list-item__content p{
  margin: 10px 0;
}

.search-list-item__tag {
  background-color: #008009;
  color: #fbfbfb;
  width: 110px;
  padding: 2px 2px;
  border-radius: 6px;
  /* font-size: 14px; */
  text-align: center;
}

.search-list-item__desc {
  font-weight: 700;
  margin: 10px 0;
}

.search-list-item__type {
  margin: 10px 0;
}

.search-list-item__free-cancel div{
  color: #008009;
  font-weight: 700;
}

.search-list-item__free-cancel p{
  color: #2a8e4f;
  letter-spacing: -0.5px;
}

/* col-3 */
.search-list-item__rate {
  display: grid;
  align-content: space-between;
  /* grid-template-rows: auto auto; */

}

.search-list-item__rate-text {
  display: flex;
  justify-content: space-between;
  /* grid-row: start; */
}

.search-list-item__rate-text div{
  color: #003580;
  font-weight: 600;
}

.search-list-item__rate-text span{
  background-color: #003580;
  color: #fff;
  padding: 2px 4px;
}

.search-list-item__rate-bottom {
  text-align: right;
}

.search-list-item__rate-bottom button{
  color: #fff;
  background-color: #0071c2;
  padding: 10px 24px;;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.search-list-item__rate-price {
  font-size: 26px;
  font-weight: 500;
}

.search-list-item__rate-desc {
  font-size: 12px;
  opacity: 0.8;
  color: #333;
  padding: 10px 0;
}


